

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #333;
 
}

#logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#links {
    display: flex;
    gap: 40px;
}

#links a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    color: #333;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#links a:hover {
    background-color: #e9ecef;
    border-radius: 10px;
    color: #007bff;
}

#links a{
    display: flex;
    align-items: center;
    gap: 10px;
}