#home {
    width: 100%;
    height: 55%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box{
    display: flex;
    flex-direction: column;
    padding: 10px ;
    width: 300px;
    height: 250px;
    word-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
#box a{
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: azure;
    border-radius: 10px;
}
#box a:hover{
    background-color: ghostwhite;
}
#box .material-symbols-outlined{
    font-size:30px;
    color: orange;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid orangered;
}