
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    border-radius: 10px;


    color: #000;
    width: 100%;
}





#filter {
    display: flex;
    align-items: center;
    justify-content:center;
    
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  
}


#box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 80px;
    cursor: pointer;
    border: 1px solid grey;
    transition: background-color 0.3s ease;
}

#box:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 0px 1px 4px #e0e0e0;
}

#box span.material-symbols-outlined {
    font-size: 20px;
    color: #373636;
    font-weight: bold;
}


#order {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    width: 350px;
    

}
#links a{
    display: flex;
    align-items: center;
    gap: 10px;
}
#order::placeholder,#code::placeholder {
    color: #000000;
    text-align:center;
}
#code::placeholder{
    font-weight:900;
}
#filter input[type="search"] {
    padding-left: 5px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    #filter {
        flex-direction: column;
        gap: 15px;
    }

    #box {
        justify-content: center;
        width:100%;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;

}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f5f5f5;
    color: #333;
}
tr:hover {
    background-color: #f1f1f1;
}
.material-symbols-outlined {
    cursor: pointer;
}

.tracker {
    position: relative;
    
}

.details  td{
    padding: 0px;
    text-align:left;
    border-bottom: none;
}

#ord {
    position: relative;
}

#ord .material-symbols-outlined {
    font-size: 24px;
    color: grey;
}

#ord .material-symbols-outlined:first-child {
    color: green; 
}

#ord:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 30px; 
    width: 3px;
    height: calc(95% + 70px); 
    background-color: grey;
    z-index: 2;
}

#ord:last-child .material-symbols-outlined {
    color: green;
}

input[type="text"] {
    border: 2px solid #333;
    border-radius: 10px;          
    padding: 10px 15px;              
    font-size: 18px;                
    letter-spacing: 10px;            
    width: 220px;                    
    text-align: center;             
    outline: none;                  
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    color: #333;                     
    background-color: #f9f9f9;       
    font-family: "Arial", sans-serif; 
}

input[type="text"]::placeholder {
    color: #bbb;                    
    letter-spacing: 10px;            
    font-weight: bold;               
}

input[type="text"]:focus {
    border-color: #007bff;           
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
}

input[type="text"]:hover {
    border-color: #007bff;           
}
